<div class="col-xl-4 mt-2 mb-1">
    <div class="card border-left-dark shadow h-100 py-2">
        <div class="card-header">
            $perspective
        </div>
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">$buttons</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                </div>
            </div>
        </div>
    </div>
</div>
