<div class="card shadow mt-1 mb-1">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">Leeruitkomsten</h5>
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Leeruitkomst</th>
                <th scope="col">Niveau</th>
                <th scope="col">Argumentatie</th>
            </tr>
            </thead>
            <tbody>
                $learning_outcome_list
            </tbody>
        </table>
    </div>
</div>
