<h2 class="mt-2">$level_moment_title</h2>
<div class="row">
    <div class="col-lg-12">
        <div style="color:white;background-color:$progress_color;border-color:$progress_color;font-size:2rem" class="badge">$progress_label</div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 mt-2">
        <p>Bepaald door $grader_name op $graded_date. Link naar canvas <a target="_blank" href="$url">$level_moment_title</a></p>
        <h3>Feedback/Commentaar</h3>
        <p>$comments</p>
        <h3>Reflectie van student op $submitted_date</h3>
        <p>$body</p>
    </div>
</div>
