<div class="row">
    <div class="col-md-6">
        <p>
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Aanwezigheid</th>
                <th scope="col">Aantal</th>
                <th scope="col">Percentage</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Projectdagen</td>
                <td>$attendance_essential_count</td>
                <td>$attendance_essential_percentage</td>
            </tr>
            <tr>
                <td>Alle dagen</td>
                <td>$attendance_count</td>
                <td>$attendance_percentage</td>
            </tr>
            </tbody>
        </table>
        </p>
    </div>
</div>