<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generate_start_admin_login.css') }}"/>
    <title>Admin Login</title>
</head>
<body>
<header>
    <img src="{{ url_for('static', filename='images/hu-logo.svg') }}" alt="hu-logo">
</header>

<main>
    <div id="login-container">
        <h2>Admin Login</h2>
        <form id="admin-login-form">
            <div class="form-group">
                <label for="password">Wachtwoord:</label>
                <input type="password" id="password" name="password" placeholder="Voer uw wachtwoord in" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Inloggen">
            </div>
        </form>
    </div>
</main>

<footer><h3>© 2024 Hogeschool Utrecht</h3></footer>
<script src="{{ url_for('static', filename='js/generate_start_admin_login.js') }}"></script>
</body>
</html>
