<div class="row">
    <div class="card-header py-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Docent</th>
                <th scope="col">Open</th>
                <th scope="col">Overtijd (> 7 dagen)</th>
                <th scope="col">Extreem overtijd (> 14 dagen)</th>
                <th scope="col">Fout</th>
            </tr>
            </thead>
            <tbody>
                $problems
            </tbody>
        </table>
    </div>
</div>

