<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Overzichten</h6>
</div>
<div class="card-body">
    <a onclick="setDetailName('', '')"
        target="frame_right"
        href="./general/totals_werkvoorraad.html"
        class="btn btn-outline-dark btn-sm">
        <span class="text">Werkvoorraad</span>
    </a>
    <a onclick="setDetailName('', '')"
        target="frame_right"
        href="./general/totals_voortgang.html"
        class="btn btn-outline-dark btn-sm">
        <span class="text">Voortgang</span>
    </a>
</div>

