<h3>Samenvatting</h3>
<p>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Samenvatting</th>
                $learning_outcomes
            </tr>
        </thead>
        <tbody>
            <tr><td class="text-nowrap status_complete">Complete items (punten)</td>$status_complete_items</tr>
            <tr><td class="text-nowrap status_incomplete">Incomplete items</td>$status_incomplete_items</tr>
            <tr><td class="text-nowrap status_missed">Niet gemaakt</td>$status_missed_items</tr>
            <tr><td class="text-nowrap status_pending">Openstaande items</td>$status_pending_items</tr>
        </tbody>
    </table>
</p>