<div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Team openstaand</h6>
        </div>    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">$team_buttons</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
            </div>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Gilde openstaand</h6>
        </div>
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">$gilde_buttons</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
            </div>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Kennis openstaand</h6>
        </div>
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">$kennis_buttons</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
            </div>
         </div>
    </div>
</div>
