<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">

</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                 <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4 .gap-2">
                    <h2 class="mt-4">Beoordeling</h2>
                </div>
    <!-- Page Wrapper -->
                <div class="row">

                        <!-- Default Card Example -->
                        <div class="card mb-4">
                            <div class="card-header">
                                Samenvatting
                            </div>
                            <div class="card-body">
                                Opleiding: HBO-ICT<br>
                                Richting: $major<br>
                                Specialisatie: $role_name<br>
                                Semester: S5 $semester<br>
                                Student: $student_name ($student_number)<br>
                                Beoordeling: $grade<br>
                                Examinatoren: $examiners<br>
                                Datum van de beoordeling: $grade_date
                            </div>
                        </div>

                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-6 mb-4">
                        <!-- Default Card Example -->
                        <div class="card mb-4">
                            <div class="card-header">
                                Onderbouwing
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Perspectief</th>
                                        <th scope="col">Beoordeling</th>
                                        <th scope="col">Datum</th>
                                        <th scope="col">Docent</th>
                                        <th scope="col">Toelichting</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        $explanations
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../js/demo/chart-area-demo.js"></script>
    <script src="../js/demo/chart-pie-demo.js"></script>

</body>
</html>