<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Custom fonts for this template-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.4/css/sb-admin-2.min.css" rel="stylesheet">

</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                 <!-- Page Heading -->
                <h1>Beoordeling</h1>
                <h2>Samenvatting</h2>
                <p>
                    Opleiding: HBO-ICT<br>
                    Richting: $major<br>
                    Specialisatie: $role_name<br>
                    Semester: S5 $semester<br>
                    Student: $student_name ($student_number)<br>
                    Beoordeling: $grade<br>
                    Examinatoren: $examiners<br>
                    Datum van de beoordeling: $grade_date
                </p>
                <h2>Onderbouwing</h2>
                <p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Perspectief</th>
                                <th scope="col">Beoordeling</th>
                                <th scope="col">Datum</th>
                                <th scope="col">Docent</th>

                            </tr>
                        </thead>
                        <tbody>
                            $explanations
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
</body>
</html>