                                              <tr>
                                                <th scope="row">$perspective</th>
                                                <td>$grade</td>
                                                <td>$grade_date</td>
                                                <td>$examiner</td>
                                              </tr>
                                              <tr>
                                                <td colspan="4">$explanation</td>
                                              </tr>
