<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        .status_complete {background-color: #3C7D22; color: white;}
        .status_incomplete {background-color: #0070C0; color: white;}
        .status_missed {background-color: black; color: white;}
        .status_pending {background-color: #E97132; color: white;}
        .status_comming {background-color: #BFBFBF; color: white;}
        .status_no_lo {background-color: white; color: white;}
    </style>

</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                 <!-- Page Heading -->
                <h1>Portfolio</h1>
                <h2>Algemeen</h2>

                <p>
                    Opleiding: HBO-ICT<br>
                    Semester: S1 $semester<br>
                    Datum: $actual_date<br>
                    Student: $student_name<br>
                    Student email: $student_email<br>
                    Studentnummer: $student_number<br>
                    Klas: $student_group<br>
                    Docenten: $teachers
                </p>
                <h2>Samenvatting</h2>
                <p>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                $learning_outcomes
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>Behaalde punten</td>$behaalde_punten</tr>
                            <tr><td>Complete items</td>$complete_items</tr>
                            <tr><td>Incomplete items</td>$incomplete_items</tr>
                            <tr><td>Niet gemaakt</td>$niet_gemaakt</tr>
                            <tr><td>Openstaande items</td>$niet_beoordeeld</tr>
                        </tbody>
                    </table>
                </p>
                <h2>Portfolio-matrix</h2>
                <p>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Datum</th>
                                <th scope="col">Portfolio-item</th>
                                <th scope="col">Status</th>
                                $learning_outcomes
                            </tr>
                        </thead>
                        <tbody>
                            $portfolio_items
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../js/demo/chart-area-demo.js"></script>
    <script src="../js/demo/chart-pie-demo.js"></script>

</body>
</html>