<div class="col-xl-$colums col-md-6 mb-2">
    <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                        <a type="button"
                           class="btn btn-outline-dark"
                           onClick="setCoach('0');"
                           data-toggle="tooltip"
                           data-placement="top"
                           title="alles selecteren"
                        >
                            <span class="text">all</span>
                        </a>
                        $coaches
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                </div>
            </div>
        </div>
    </div>
</div>
