<div class="card shadow mb-2">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">$assignment_group_name</h5>
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Opdracht</th>
                    <th scope="col">Sluitingsdatum</th>
                </tr>
            </thead>
            <tbody>
                $assignments
            </tbody>
        </table>
     </div>
</div>
<!--&lt;!&ndash; Collapsable Card Example &ndash;&gt;-->
<!--<div class="card shadow mb-2">-->
<!--&lt;!&ndash; Card Header - Accordion &ndash;&gt;-->
<!--    <a href="#collapseCard$assignment_group_id" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCard$assignment_group_id">-->
<!--        <h6 class="m-0 font-weight-bold text-primary">Collapsable Card Example</h6>-->
<!--    </a>-->
<!--    &lt;!&ndash; Card Content - Collapse &ndash;&gt;-->
<!--    <div class="collapse show" id="collapseCard$assignment_group_id">-->
<!--        <div class="card-body">-->
<!--            This is a collapsable card example using Bootstrap's built in collapse functionality. <strong>Click on the card header</strong> to see the card body collapse and expand!-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

