<div class="card shadow mt-1 mb-1">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">Momenten</h5>
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Opdracht</th>
                    <th scope="col">Sluitingsdatum</th>
                </tr>
            </thead>
            <tbody>
                $moments
            </tbody>
        </table>
     </div>
</div>


