<div class="mt-1 mb-1">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-header">
            <h5>$assignment_name, tag: $assignment_tag, schaal: $assignment_grading_type, punten $assignment_points</h5>
        </div>
        <div class="card-body">
            <div class="no-gutters align-items-center">
                $messages
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Opdracht (Canvas)</th>
                            <th scope="col">Openingsdatum</th>
                            <th scope="col">Sluitingsdatum</th>
                            <th scope="col">Beoordelingsschaal</th>
                            <th scope="col">Opdrachtpunten</th>
                            <th scope="col">Rubriekspunten</th>
                            <th scope="col">Rubrieken</th>
                        </tr>
                    </thead>
                    <tbody>
                        $assignments
                    </tbody>
                 </table>
            </div>
        </div>
    </div>
</div>


