              <tr>
                <th scope="row">$assignment_name</th>
                <td>$assignment_tag</td>
                <td>$assignment_grading_type</td>
                <td>$assignment_points</td>
              </tr>
              <tr>
                  <td colspan="6">
                      <div class="col-xl-12 col-md-6 mb-2">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        $messages
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Opdracht (Canvas)</th>
                                                    <th scope="col">Openingsdatum</th>
                                                    <th scope="col">Sluitingsdatum</th>
                                                    <th scope="col">Beoordelingsschaal</th>
                                                    <th scope="col">Opdrachtpunten</th>
                                                    <th scope="col">Rubriekspunten</th>
                                                    <th scope="col">Rubrieken</th>
                                                </tr>
                                            </thead>
                                        <tbody>
                                            $assignments
                                        </tbody>
                                        </table>
                                        </div>
                                </div>
                            </div>
                        </div>
                      </div>
                  </td>
              </tr>


