<div class="card shadow mt-1 mb-1">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">Release Planning</h5>
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Perspectief</th>
                    <th scope="col">Niveaus</th>
                    <th scope="col">Opdrachtgroep</th>
                    <th scope="col">Rol</th>
                </tr>
            </thead>
            <tbody>
                $perspectives
            </tbody>
        </table>
     </div>
</div>